

@media (max-width: 1650px) {

/*	h1 { font-size:75px; font-weight: bold;}
	h2 { font-size:65px; font-weight: bold;}
	h3 { font-size:40px; }
	h4 { font-size:34px; }
	h5 { font-size:30px; }  
	h6 { font-size:20px; }*/


	h1 { font-size:80px; font-weight: bold;}
	h2 { font-size:70px; font-weight: bold;}
	h3 { font-size:45px; }
	h4 { font-size:34px; }
	h5 { font-size:26px; }  
	h6 { font-size:22px; }

	.form-main .form-group{margin-bottom:25px;}
	.form-group .btn.submit-btn{margin-top:15px;}
	.banner-btn ul li a img {width: auto;height: 48px;}

	.contact-link-main .contact-wrap {max-width: 700px; }
			
}



@media (max-width: 1499px) { 

	h1 { font-size:65px; }
	h2 { font-size:58px; }
	h3 { font-size:38px; }
	h4 { font-size:30px; }
	h5 { font-size:24px; }  
	h6 { font-size:20px; }

	p{font-size:16px;line-height:28px;}
	.btn{padding:10px 20px;font-size:16px;}
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:12px;}
	.features-wrap .section-title{margin-bottom:40px;}
	.banner-sec .banner-wrap{padding:60px 0px 40px;}


	.features-sec .features-inner{padding-bottom:50px;}
	.about-text-box p{font-size:18px;line-height:28px;}
	.about-text-box{ margin:30px 0px; }
	.about-text-box.vision-mission h3{margin-bottom:22px;}
	.about-text-box.vision-mission{margin:70px 0px 30px;}
	ul.slick-dots li button{width:12px;height:12px;}
	ul.slick-dots li{padding:8px;}
	.app-screenshot-slider ul.slick-dots{margin:70px 0px 0px;}
	.download-app-sec{padding:80px 0px;}
	.footer-main .footer-text{padding:20px 0px;}
	.footer-main .footer-text p{font-size:16px;}

	.contactUs-content .section-title {margin-bottom: 45px; }
	
	.header-main .header-inner-main .header-menu-inner .header-btn a {padding: 10px 10px 10px; min-width: 145px; border-radius: 10px; }
	.header-main .header-inner-main .header-inner .header-menu ul li a{padding:30px 0 30px;margin:0px 25px;}
	.header-logo img{max-width:60px;}

	.about-wrap .about-text-wrap {max-width: 550px; }

	.features-box-img{max-width:400px;margin:auto;}
	.features-tab-link{margin-bottom:60px;}
	.features-tab-link .nav-link{font-size:24px;}
	.features-box ul li{max-width:285px;}
	.contact-link-main .contact-wrap{max-width:600px;}

}


@media (max-width: 1299px) { 



	h1 { font-size:60px; }
	h2 { font-size:50px; }
	h3 { font-size:34px; }
	h4 { font-size:30px; }
	h5 { font-size:24px; }  
	h6 { font-size:20px; }

	p{font-size:16px;line-height:28px;}

	.about-text-box p {font-size: 19px; line-height: 34px; }
	.features-sec .features-inner {padding-top: 60px; }
	.contact-us-sec {padding: 70px 0px 70px; }
	.banner-btn ul li a img {height: 46px; }
	.banner-sec .banner-wrap .banner-text p {font-size: 18px; } 
	.banner-sec .banner-wrap .banner-text p br {display: none; }


	.header-main .header-inner-main .header-menu-inner .header-btn a {padding: 7px 10px 7px; min-width: 130px; border-radius: 8px; }
}



@media (max-width: 1199.98px) { 

	h1 { font-size:55px; }
	h2 { font-size:48px; }
	h3 { font-size:30px; }
	h4 { font-size:28px; }
	h5 { font-size:24px; }  
	h6 { font-size:20px; }
	p{font-size: 15px;}
	
	.banner-sec .banner-wrap .banner-text h1{margin-bottom:20px;}
	.banner-sec .banner-wrap .banner-text h1{margin-bottom:20px;}
	.subscribe-form-main .subscribe-wp inp
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:8px;}
	.features-sec .features-inner{padding:60px 0px;}
	.container{max-width:95%;}
	.header-main .container{max-width:100%;}
	.features-box .features-icon{width:50px;height:50px;background:#484b6e;text-align:center;line-height:55px;}
	.features-box .features-icon i{font-size:22px;}
	.features-wrap .features-box h3{margin-bottom:15px;}
	
	.features-box ul li {max-width: 250px; } 
	.subscribe-sec{padding:60px 0px;}

	.header-logo img{max-width:230px;}
	.header-main .header-inner-main .header-inner .header-menu ul li a{font-size:15px;margin:0px 15px;padding:25px 0 30px;}

	.banner-sec .banner-wrap .banner-text p {font-size: 18px; line-height: 30px; margin: 25px 0px 45px; }
	.features-wrap .section-title p {font-size: 16px; line-height: 26px; margin-top: 20px; }

	
	.about-text-box p{font-size:16px;line-height:30px;}
	.about-text-box{margin:20px 0px;}
	.about-text-box.vision-mission h3{margin-bottom:20px;}
	.about-text-box.vision-mission{margin:35px 0px 25px;}

	

	.features-wrap .section-title p br {display: none; }

	.contact-link-main .contact-wrap {padding: 40px 40px; border-radius: 30px; }
	.header-logo img {max-height: 50px; }

	.features-box ul li:nth-child(odd){padding-right:15px;}
	.features-box ul li:nth-child(even){padding-left:15px;}
	.features-box ul li{margin:15px 0px;}


	.app-supports-row .app-supports-col{padding:0px 20px;margin:20px 0px;}
	.app-supports-row .app-supports-col:nth-child(6n-3){padding-right:60px;}
	.app-supports-row .app-supports-col:nth-child(6n-2){padding-left:60px;}
	.app-supports-text{padding:25px;border-radius:25px;}
	.app-supports-text p{font-size:16px;line-height:25px;max-width:255px!important;}
	.app-supports-row .app-supports-col:nth-child(odd) .app-supports-box .app-supports-img img{max-height:150px;max-width:140px;}
	.app-supports-row .app-supports-col:nth-child(even) .app-supports-box .app-supports-img img{max-height:145px;max-width:150px;}
	.features-box ul li.features-box-text p.text:before{top:6px;width:15px;height:15px;}
	.features-box ul li.features-box-text p.text{padding-left:25px;}

}	




/*=========================================================
// Medium devices (tablets, less than 992px)
===========================================================*/

@media (max-width: 991.98px) 	{ 
	h1 { font-size:48px; }
	h2 { font-size:40px; }
	h3 { font-size:28px; }
	h4 { font-size:24px; }
	h5 { font-size:22px; }  
	h6 { font-size:18px; }
	p{font-size: 15px;}
	

	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner {position: fixed; top: 72px; left: 0; right: 0; background: #e1effe; z-index: 777; height: calc(100vh - 70px); overflow: auto; transition: all 400ms ease; transform: translateX(-100%); visibility: hidden; opacity: 0; 	}
	.header-main .header-inner-main .header-inner .header-menu.show .header-menu-inner {transform: translateX(0); visibility: visible; opacity: 1; }
	.header-main .header-inner-main .header-inner .header-menu ul li a {margin: 0;padding:5px; width: auto; color: #000; font-size: 18px; }
	.header-main .header-right {margin-right: 0px; text-align: right;}
	.header-main .container {padding: 12px 15px;}

	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{display:block;}
	.header-main .header-inner-main .header-menu-inner .header-btn{justify-content:center;}
	.header-main .header-inner-main .header-menu-inner .header-btn a{margin:20px 10px;}

	.header-main .header-menu .header-menu-inner > ul > li{text-align:center;border-bottom:1px solid #ccc;}
	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{padding-top:40px;}
	.header-main .header-menu .header-menu-inner > ul > li:last-child{border-bottom:none;}
	.header-main .header-menu .header-menu-inner > ul{width:85%;max-width:400px;margin:auto;}

	.login-btn ul li {margin-left: 00px;display: block;}
	.header-menu ul li .login-btn a.btn{color:#fff!important;}
	.header-menu ul li .login-btn a.btn::after{display:none!important;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover:after,.header-main .header-inner-main .header-inner .header-menu ul li a.active:after{transform-origin:unset!important;bottom:0px;}
	.header-main .header-menu .header-menu-inner > ul > li {padding: 10px 15px;}
	.header-main .header-menu .header-menu-inner .login-btn > ul > li {padding-bottom: 20px;}

	.about-wrap .about-text-wrap {margin: auto; }
	ul.social-link li{margin:8px 30px 8px 0px;}
	ul.social-link li .social-icon{width:28px;height:28px;}
	.banner-img-wp{max-width:450px;margin:0 auto;margin-bottom:40px;}
	.banner-sec .banner-wrap .banner-text{max-width:100%;margin:0 auto;}
	.banner-btn ul li a img{height:44px;}
	.about-sec{padding:60px 0px;}
	.about-text-box{margin-left:0px;}
	/*.about-sec .about-text-wrap{padding:0px 25px;}*/	
	.about-img-wrap{max-width:450px;margin:0px auto;}

	.app-screenshot-sec{padding:60px 0;}
	.app-screenshot-slider ul.slick-dots{margin-top:40px;}
	.download-app-sec {padding: 60px 0px; }
	.banner-sec .banner-wrap .banner-text p {font-size: 16px; line-height: 26px; }

	.banner-btn ul li{margin-right: 10px;margin-bottom: 10px;}
	.footer-main .footer-text p{font-size:14px;}
	.footer-main .footer-text{padding:10px 0px;}
	.features-wrap .section-title{margin-bottom: 20px;}

	.features-box-img{max-width:250px;margin:auto;}
	.features-tab-link .nav-link{font-size:20px;}
	.features-tab-link{margin-bottom:30px;}
	.features-box-wp{margin-right:auto;}
	.features-box-img{margin-bottom:25px;}

	.form-control{font-size:16px;padding:10px 15px 10px 0px;height:45px;}

	.form-control::placeholder { font-size: 16px;}
	.form-control::-moz-placeholder { font-size: 16px;}
	.form-control:-ms-input-placeholder { font-size: 16px;}
	.form-control::-webkit-input-placeholder { font-size: 16px;}
	.form-control::-o-input-placeholder { font-size: 16px; }

	.app-screenshot-sec .section-title {margin-bottom: 40px; }
	.banner-sec {padding-top: 70px; }
	.header-main .header-right .navbar-toggler{outline:none!important;box-shadow:none;}

	.app-supports-row .app-supports-col:nth-child(even) .app-supports-box .app-supports-img img{left:calc(100% - 65px);}
	.app-supports-row .app-supports-col:nth-child(6n-2) .app-supports-img img{left:calc(100% - 130px)!important;}

}

/*=========================================================
// Small devices (landscape phones, less than 768px)
===========================================================*/

@media (max-width: 767.98px) {


	h1 { font-size:48px; }
	h2 { font-size:40px; }
	h3 { font-size:26px; }
	h4 { font-size:24px; }
	h5 { font-size:22px; }  
	h6 { font-size:18px; }
	p{font-size: 14px;}
	
	.banner-sec .banner-wrap .banner-text .banner-btn{margin-top:25px;margin-bottom:35px;}
	
	.features-wrap .section-title{margin-bottom:15px;}
	.features-sec .features-inner .container{max-width:95%;}
	

	.contact-b-col h5{margin-bottom:10px;}
	.contact-us-bottom{margin-top:15px;padding-top:35px;}
	.subscribe-sec{padding:40px 0px;}
	.btn{padding:9px 20px;font-size:15px;}
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:10px;min-width:135px;border-radius:6px;}
	.banner-sec .banner-wrap{padding-bottom:20px;}

	.banner-img-wp img{max-height:380px;}
	.banner-img-wp .banner-img{text-align:center;}
	.about-img-wrap{max-width:100%;}
	
	.download-app-sec .download-app-wrap{text-align:center;}
	.download-app-sec .download-app-wrap h2{margin-bottom:25px;}
	.banner-btn ul li:last-child{margin-right:0px;}

	.features-wrap .features-box h3 {margin-bottom: 10px; }

	.banner-img-wp .banner-img {padding-right: 17px; }
	.app-screenshot-slider .screenshot {padding-right: 25px; }

	.contact-link-main{margin:60px auto 0px;max-width:400px;}
	.contactUs-content .section-title{text-align:center;}
	.contact-us-wrap .card_form{max-width:400px;margin:0 auto;}
	.form-group{margin-bottom:20px;}
	
	.features-box ul li{max-width:275px;}

	.footer-main .footer-text{flex-flow:column-reverse;}
	.banner-btn.footer-btn ul li img{max-height:35px;}
	.banner-btn.footer-btn ul li{margin:0px 5px 10px;}
	.features-sec .features-inner{padding-bottom: 15px;}
	
	.app-screenshot-sec .section-title {margin-bottom: 25px; }
	.app-screenshot-sec .features-tab-link {margin-bottom: 20px; } 
	.app-supports-row .app-supports-col {width: 100%; }
	.app-supports-row .app-supports-col:nth-child(odd) .app-supports-box{padding-left:65px;}
	.app-supports-wrap{max-width:500px;}
	.app-supports-row .app-supports-col:nth-child(even) .app-supports-box{padding-right:65px;}

	.app-supports-row .app-supports-col:nth-child(6n-3){padding-right:20px;}
	.app-supports-row .app-supports-col:nth-child(6n-2){padding-left:20px;}
	.app-supports-row .app-supports-col:nth-child(6n-2) .app-supports-img img{left:calc(100% - 90px)!important;}

	.video-container {border-radius: 10px; }

}

/*=========================================================
Extra small devices (portrait phones, less than 576px)
===========================================================*/
@media (max-width: 576px) { 


	.contactUs-content .section-title{margin-bottom:35px;}

	.features-wrap .section-title p br{display:none;}
	.features-wrap .features-box {max-width: 100%; }
	.app-screenshot-slider .screenshot {padding-right: 10px; }
	ul.slick-dots li{padding:5px;}
	ul.slick-dots li button{width:10px;height:10px;}

	.app-screenshot-wrap .slick-list.draggable {padding-right: 10%; }
	.banner-btn ul li a img {height: 36px; }


	.app-supports-text p{font-size:15px;line-height:23px;}
	.app-supports-row .app-supports-col:nth-child(odd) .app-supports-box .app-supports-text p{padding-left:40px;}
	.app-supports-row .app-supports-col:nth-child(6n-3) .app-supports-box .app-supports-img img{right:calc(100% - 70px);}
	.app-supports-text{padding:20px;border-radius:20px;}
	.app-supports-row .app-supports-col:nth-child(even) .app-supports-box .app-supports-text p{padding-right:55px;}
	.app-supports-row .app-supports-col:nth-child(6) .app-supports-img img{margin-top:0px!important;}
	.app-supports-sec{padding-top:70px;}
	.app-supports-row .app-supports-col {padding: 10px 0px; }

	.video-container {width: 100%; padding-bottom: 62%; }

	
}


@media (max-width: 481px) { 

	h1 { font-size:42px; }
	h2 { font-size:36px; }
	h3 { font-size:26px; }
	h4 { font-size:24px; }
	h5 { font-size:20px; }  
	h6 { font-size:16px; }
	p{font-size: 14px;} 

	.subscribe-form-main .subscribe-wp inp
	.banner-btn ul li a img{height:40px;}
	.features-wrap .features-box{margin:20px auto;}
	.features-box .features-icon{margin-bottom:15px;}
	.features-wrap .features-box h3{margin-bottom:10px;}
	.about-sec .about-text-wrap{padding:0px 10px;}
	
	.contact-us-bottom .contact-b-row .contact-b-col{width:100%;margin:13px 0px;}
	.contact-b-col h5{margin-bottom:5px;}

	.banner-sec .banner-wrap .banner-text .banner-btn {margin-bottom: 0px; }
	.contact-us-sec {padding: 50px 0px; }

	.features-wrap .features-box .features_icon {width: 40px; height: 40px; }
	.features-wrap .features-box h3{font-size: 22px;}
	.features-wrap .features-box .features-box-text p{font-size: 15px;}
	.features-wrap .features-box .features-box-text {width: 100%; max-width: 100%; padding-left: 0px; padding-right:0px; }
	.about-text-inner {padding-bottom: 20px; }
	.features-wrap .features-box .features-box-text p {margin-bottom: 0px; }


}




/*=========================================================
iPad Pro devices (portrait phones, less than 1021px)
===========================================================*/

/* ----------- iPad Pro ----------- */
  	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    }
 	/* Landscape*/

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {

    }

    /* Portrait*/
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
		

	}

  